<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367008808549-h2894gr33jbpchp9lve3plp6ndhqj50o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367008808549-h2894gr33jbpchp9lve3plp6ndhqj50o</string>
	<key>API_KEY</key>
	<string>AIzaSyBYnNyO6FCfht2-v7myMhofHgTi4WtPlxk</string>
	<key>GCM_SENDER_ID</key>
	<string>367008808549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.hichatbot.hichatbot</string>
	<key>PROJECT_ID</key>
	<string>hichatbot-3cb6b</string>
	<key>STORAGE_BUCKET</key>
	<string>hichatbot-3cb6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367008808549:ios:bc39dee53cadf5477d108c</string>
</dict>
</plist>